// sass --watch scss/pete.scss css/pete.css

$bg-color: #f7fbf7;
$accent-color: #A7B8A6;

#nav-template {
    background-color: #212529;
}

.front-page {
    border: 5px solid darkgray;
    background-color: $bg-color;
    width: 50% !important; 
    margin: 20px;
}

.non-nav {
    border: none;
    color: white;
    background-color: $accent-color;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#hatted {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#hatless {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#amchef {
    display: none;
}

p a {
    color: $accent-color;
    text-decoration: none;
}

p a:hover {
    color: $accent-color;
}

body {
    background-color: $bg-color;
    background-image: url("/images/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 30%;
    margin-bottom: 60px; /* Margin bottom by footer height */
}


div.card button {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.first-letter {
    font-size: 400%;
    line-height: 100%; 
    float: left; 
    font-family: serif;
    margin-right: 0.25em;
}

//footer stuff
#fixed-footer {
    position: fixed;
    bottom: 0;
}

html {
    position: relative;
    min-height: 100%;
}

//api things
.api-page {
    border: 5px solid darkgray;
    background-color: $bg-color;
    margin-top: 30px;
}

#map {
    height: 400px;
    width: 100%;
  }

@media (max-width: 520px) {
    .front-page {
        width: 90% !important;
    }
    .front-page img {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #carousel-center {
        width: 50%;
        display: flex !important;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }
}

